<h1>About me</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "", width: 300, alt: "profile image" %>
    </div>
    <div class="col-md-8">
        <p>Enter a description of yourself- background, experience, skills etc.</p>
    </div>
</div>

