<h1>Would you like to work together?</h1>

<hr>

<div class='row'>
    <div class='col-md-6'>
        <h3>Phone</h3>
        
        <p><%= number_to_phone "4699515320" %></p>
        
        <h3>Email</h3>
        
        <p><a href="mailto:bmgrether@gmail.com" "email me">Email me</a> </p>
    </div>
</div>