<div class="inner cover">
  <h1 class="cover-heading">Homepage</h1>
    <p class="lead">Location: home.html.erb, nav and footer located at application.html.erb</p>
    <p class="lead">
      <%= link_to "Learn more", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>

