<div class="card">
    <%= image_tag project_item.thumb_image unless project_item.thumb_image.nil? %>
    <p class="card-text">
        <span><%= link_to project_item.title, project_show_path(project_item) %></span>
        <%= project_item.subtitle %>
    </p>
</div>


